@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.wrapper{
    width: 100vw;
    height:100vh;
    background-color:rgb(59, 4, 186);
    position: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
}
.modalform{
    width: 400px;
    min-height: 80vh;
    background-color: rgb(59, 101, 216);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputgroup{
    width: 300px;
    margin: 0.8em 0;
    background-color: rgb(245, 245, 245);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-weight: 500;
}
.inputgroup input{
    width: 100%;
    padding: 1em 1.5em;
    background-color: transparent;
    border: none;
    border-radius: 50px;
}
.inputgroup input:hover{
    outline: none;
    background-color: rgb(243, 207, 137);
    transition: all 0.3s ease-in-out;
}

.submitBtn{
    width: 150px;
    padding: 1em;
    margin: 2em 0;
    border-radius: 50px;
    align-self: center;
    border: none;
    outline: none;
    background-color: white;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
    transition:all 0.2s ease-in-out;
    
}
.submitBtn:hover{
    background-color:orange;
    transition:all 0.2s ease-in-out;
}
